#summary > div:nth-of-type(4) > div:nth-of-type(2) > div:nth-of-type(2) {
	flex-wrap: wrap;
	margin: 0px 25px;
}

#syncPair_role, #syncPair_type, #syncPair_weakness, #syncPair_exRole {
	font-family: "kenya-NewRodinProN-EB";
	font-size: 0.8em;
	display: flex;
	align-items: center;
}

#syncPair_role, #syncPair_type {
	width: 45%;
}
#syncPair_weakness, #syncPair_exRole {
	width: 55%;
}

#syncPair_role p, #syncPair_type p, #syncPair_weakness p, #syncPair_exRole p {
	white-space: nowrap;
}

#syncPair_role img, #syncPair_type img, #syncPair_weakness img, #syncPair_exRole img {
	height: 28px;
	margin: 5px 10px;
}