#syncPair_role_type {
	flex-wrap: wrap;
}

#syncPair_role, #syncPair_type, #syncPair_weakness, #syncPair_exRole {
	font-family: "kenya-NewRodinProN-EB";
	font-size: 0.8em;
	display: flex;
	align-items: center;
}

#syncPair_role p, #syncPair_type p, #syncPair_weakness p, #syncPair_exRole p {
	white-space: nowrap;
}

.noExRole > * {
	display: initial !important;
}