/*
Font used in the game
*/

@font-face {
	font-family: "kenya-NewRodinProN-B";
	font-weight: bold;
	src: url("kenya-NewRodinProN-B.otf") format("opentype");
}

@font-face {
	font-family: "kenya-NewRodinProN-EB";
	font-weight: bold;
	src: url("kenya-NewRodinProN-EB.otf") format("opentype");
}

#syncPair_trainerName {
	font-family: "kenya-NewRodinProN-EB";
	font-size: 1em;
	line-height: 1.4em;
}

#syncPair_pokemonFormName,
#syncPair_pokemon2FormName {
	font-family: "kenya-NewRodinProN-B";
	font-size: 0.75em;
	padding: 0;
}

#syncPair_pokemonName,
#syncPair_pokemon2Name {
	font-family: "kenya-NewRodinProN-EB";
	font-size: 0.9em;
	padding: 0;
}

#syncPair_role,
#syncPair_type,
#syncPair_weakness {
	font-family: "kenya-NewRodinProN-EB";
	font-size: 0.8em;
}

#stats {
	font-family: "kenya-NewRodinProN-EB";
	font-size: 0.8em;
	margin: 2px 0;
}
#stats p {
	padding: 0px 10px;
	margin: -2px 0;
}