#main {
	min-width: 1024px;
	max-width: 1024px;
	padding-bottom: 2%;
	background-image: var(--bg2);
	background-size: 32%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


#summary {
	position: relative;
	height: 512px;
	width: 100%;
	background-image: var(--bg1);
	background-repeat: repeat;
	background-size: 32%;
	overflow: hidden;
	order: 1;
}


/* -----------
BACKGROUND IMAGE
------------*/

#summary > div:nth-of-type(1) {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#syncPair_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin: auto;
}


/* -----------
IMAGES TRAINER 
------------*/

#summary > div:nth-of-type(2) {
	z-index: 1;
	width: 45%;
	height: 90%;
	position: absolute;
	bottom: 0;
	left: 5%;
	display: flex;
	pointer-events: none;
}

#syncPair_trainerImageBase,
#syncPair_trainerImageEx {
	max-height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: auto;
	pointer-events: auto;
}


/* ----------------
IMAGES/NAME POKEMON
-----------------*/

#summary > div:nth-of-type(3) {
	--size: 208px;
	z-index: 2;
	width: calc(var(--size) * 2);
	height: var(--size);
	position: absolute;
	top: 5%;
	right: 5%;
	display: flex;
	align-items: center;
	justify-content: end;
	pointer-events: none;
}

#syncPair_pokemon,
#syncPair_pokemon2 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

#syncPair_pokemon div:first-child,
#syncPair_pokemon2 div:first-child {
	background-image: var(--bgPokeball);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 100%;
	position: relative;
}

#syncPair_pokemon div:last-child,
#syncPair_pokemon2 div:last-child {
	width: 100%;
	position: absolute;
	bottom: -36px;
}

#syncPair_pokemonImage,
#syncPair_pokemon2Image {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	padding: 10px;
	pointer-events: auto;
}

#syncPair_pokemonShiny,
#syncPair_pokemon2Shiny {
	position: absolute;
	left: 0;
	bottom: 25px;
	margin: auto;
	z-index: 1;
	width: 32px;
}

#syncPair_pokemonFormName,
#syncPair_pokemon2FormName {
	color: var(--textWhite);
	background-color: var(--button);
	border-radius: 50px;
	margin: auto;
	margin-bottom: 5px;
	word-break: break-word;
	text-align: center;
	width: 100%;
	white-space: pre;
	overflow: hidden;
	pointer-events: auto;
}

#syncPair_pokemonName,
#syncPair_pokemon2Name {
	color: var(--text);
	background-color: rgba(255,255,255,80%);
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 0px;
	margin: auto;
	word-break: break-word;
	text-align: center;
	width: 100%;
	white-space: pre;
	overflow: hidden;
	pointer-events: auto;
}

.syncPair_pokemonGender {
	position: absolute;
	width: 19px;
	margin-left: 2px;
	margin-top: 5px;
}


/* -----------------------
BUTTONS EX, ALTER, DYNAMAX
------------------------*/

#btn_alter {
	width: 36px;
	position: absolute;
	right: -6px;
	bottom: -3px;
	pointer-events: auto;
}
#btn_ex:hover,
#btn_alter:hover,
#btn_dynamax:hover {
	cursor: pointer;
}

#btn_ex:active,
#btn_dynamax:active {
	transform: scale(0.9);
	transition: 0.2s;
}

#btn_alter:active {
	transform: scale(0.9) rotate(-20deg);
	transition: 0.2s;
}


/* ------------
SYNC PAIR INFOS
-------------*/

#summary > div:nth-of-type(4) {
	color: var(--text);
	z-index: 3;
	width: 60%;
	position: absolute;
	bottom: 1%;
	right: 5%;
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(255 255 255 / 80%);
	margin: 2% auto;
	padding: 5px;
	border: 1px solid #D1E0E0;
	border-radius: 5px;
}


/*---------------
BTN EX & BTN GRID
---------------*/

#summary
> div:nth-of-type(4)
> div:nth-of-type(1) {

	display: flex;
	width: 100%;
	position: absolute;
	margin-top: -55px;
}

#btn_ex {
	width: auto;
	height: 45px;
}

#btn_grid {
	outline: none;
	white-space: nowrap;
	z-index: 4;
	overflow: hidden;
	padding: 0 12px 0 36px;
	min-width: 32%;
	margin: 10px;
	text-align: center;
	line-height: 25px;
	color: var(--textWhite);
	border: 2px solid #73968C;
	border-radius: 7px;
	box-shadow: 2px 2px rgb(163 178 183 / 50%);
	transition-duration: 100ms;
	background-color: rgb(28 161 128 / 90%);
	background-image: url(../images/icon_grid.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#btn_grid:focus {
	min-width: 32% !important;
	transition-duration: 100ms;
}

#btn_grid:empty {
	padding: 0;
	min-width: 30px;
	transition-duration: 100ms;
}


/*----------------------------
NAME, RARITY, ROLE, TYPE, WEAK
----------------------------*/

#summary
> div:nth-of-type(4)
> div:nth-of-type(2) {

	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


#syncPair_trainerName {
	font-size: 1.2em;
	padding: 5px;
}

#syncPair_rarity {
	padding: 5px;
}

#syncPair_rarity img {
	height: 26px;
}


/*----------------------
ROLE, TYPE, WEAK + ICONS
----------------------*/

#summary
> div:nth-of-type(4)
> div:nth-of-type(2)
> div:nth-of-type(2) {

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#syncPair_role img,
#syncPair_type img,
#syncPair_weakness img {
	height: 32px;
	margin: 5px;
}


/*---
STATS
---*/

#stats {
	display: flex;
	width: 90%;
}

#statsLabels {
	color: var(--text) 
}

#statsLabels,
#syncPair_pokemonStats,
#syncPair_pokemon2Stats {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#syncPair_pokemonStats,
#syncPair_pokemon2Stats {
	text-align: right;
	color: var(--textWhite);
	text-shadow: var(--textOutline);
}

#statsLabels p,
#syncPair_pokemonStats p,
#syncPair_pokemon2Stats p {
	padding: 2px 12px;
	font-size: 1.1em;
	letter-spacing: 1px;
	position: relative;
}

#stats div p:nth-child(1) { background-color: var(--hp); }
#stats div p:nth-child(2) { background-color: var(--attack); }
#stats div p:nth-child(3) { background-color: var(--defense); }
#stats div p:nth-child(4) { background-color: var(--spattack); }
#stats div p:nth-child(5) { background-color: var(--spdefense); }
#stats div p:nth-child(6) { background-color: var(--speed); }


.stat_up { color: var(--textYellow); }
.stat_down { color: var(--textGray); }

.highestStatTooltip {
	display: none;
	position: absolute;
	background-color: #000000cf;
	border-radius: 5px;
	font-family: 'Roboto';
	font-size: 13px;
	text-shadow: none;
	padding: 10px;
	z-index: 5;
	right: 80px;
	width: max-content;
	bottom: 5px;
}

.highestStatTooltip a {
	color: #31a98b;
	text-decoration: none;
}

#stats p:hover .highestStatTooltip {
	display: block;
}

.highestStatIcon {
	height: 84%;
	position: absolute;
	margin: -12px -26px;
}


/* --------------------------------
TABS : MOVES, PASSIVE, LUCKY, THEME
---------------------------------*/

#tabs {
	background-color: var(--button);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5%;

	display: none;
}

.tab {
	color: var(--textWhite);
	background: linear-gradient(var(--button), var(--button2));
	border: 2px solid var(--button1);
	border-radius: 5px;
	padding: 10px;
	width: 22%;
	margin: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	letter-spacing: -1px;
}
.tab img {
	height: 20px;
	margin-bottom: -4px;
}
.tab:hover {
	color: var(--button);
	background: white;
	cursor: pointer;
}
.tab_selected {
	color: var(--button);
	background: white;
}


/* ----
ACTIONS
-----*/

#actions {
	position: relative;
	margin: auto;
	width: 100%;
	order: 3;
	font-size: 0.9em;
	text-align: center;
}

#moves, #moves2, #movesMAX, #movesSync, #moves2Sync {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: auto 5%;
	justify-content: space-between;
	width: 90%;
}


/*---
MOVES
---*/

.move {
	display: flex;
	flex-direction: column;
	padding: 4px;
	border: 2px rgba(0, 0, 0, 30%) solid;
	box-shadow: 0px 1px rgb(0 0 0 / 24%);
	border-radius: 12px;
	width: calc(50% - 8px);
	margin: 4px;
	height: auto;
}

.no_move {
	pointer-events: none;
	filter: grayscale(100%);
	opacity: 25%;
	background: rgb(190 190 190) !important;
}

.no_move * {
	opacity: 0;
}

.move_basics {
	display: flex;
	padding: 5px;
	flex-direction: column;
	position: relative;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.move_name {
	width: 80%;
	margin: auto;
	font-size: 1.2em;
	text-align: center;
	color: var(--textWhite);
	text-shadow: var(--textOutline);
	z-index: 1;
}

.noIconType { background-image: none; }

.b_move {
	position: absolute;
	width: 92%;
	height: 85%;
	margin: auto;
	margin-top: -4px;
	left: 0;
	right: 0;
	overflow: hidden;
}

.b_move img:nth-child(1) {
	display: none;
}

.b_move img:nth-child(2) {
	height: 100%;
	display: block;
	float: right;
}

.b_move img:nth-child(3) {
	display: none;
}

.move_target_icon {
	display: none;
}

.move_gauge_uses {
	display: flex;
	margin: 2px auto;
	height: 18px;
	z-index: 1;
}

.move_gauge,
.move_uses {
	width: auto;
	color: var(--textWhite);
	margin: auto 5px;
}

.move_gauge {
	display: flex;
	flex-wrap: nowrap;
}

.move_gauge img {
	width: 16px;
	margin: auto 1px;
}

.move_uses {
	font-size: 0.8em;
	background-color: var(--text);
	padding: 0px 8px;
	border-radius: 5px;
}

.move_user {
	display: flex;
	justify-content: center;
	align-items: start;
	position: absolute;
	width: 54px;
	height: 54px;
	overflow: hidden;
	right: 0;
	bottom: 6px;
	border: 2px solid rgb(0 0 0 / 30%);
	border-radius: 50px;
	margin: auto;
}

.move_user img {
	width: 123%;
	position: absolute;
	transform-origin: top left;
	margin: auto;
}

.move_details_description {
	color: var(--text);
	display: flex;
	justify-content: space-between;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
}

.move_details,
.move_description {
	width: 100%;
	padding: 5px;
	background-color: rgba(255,255,255,70%);
	text-align: left;
}

.move_details {
	margin-right: 3px;
}

.move_description {
	margin-left: 3px;
	height: 100%;
	min-height: 100px;
	position: relative;
}

.move_details div {
	display: flex;
	justify-content: space-between;
	margin: 0 -5px;
	padding: 0 5px;
}

.move_details div:nth-child(1) {
	border-bottom: none !important;
}

.move_details div:nth-child(even) {
	background-color: rgba(255, 255, 255, 36%);
}

.move_details div p:first-child {
	width: 40%;
	color: var(--textWhite);
	text-shadow: var(--textOutline);
}

.move_details div p:last-child {
	width: 60%;
}

.move_type img {
	height: 20px;
	width: auto;
	margin: -3px 3px -3px 0;
}

.move_category img {
	width: 28px;
	height: auto;
	margin: -1px auto;
}

.icon_sync_center {
	display: none;
}


/*-------
MOVE SYNC
-------*/

.move_sync,
.move2_sync {
	width: calc(100% - 8px);
	flex-direction: row;
}

.move_sync .move_basics,
.move2_sync .move_basics {
	width: 100%;
	background-image: var(--bgSyncMove);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 45px;
}
.move_sync .move_details_description,
.move2_sync .move_details_description {
	width: 100%;
}

.move_sync .move_gauge_uses,
.move2_sync .move_gauge_uses {
	display: none;
}

.move_sync .move_name,
.move2_sync .move_name {
	font-size: 1.3em;
	color: #ffeca8;
}


/*----------
MOVE DYNAMAX
----------*/

.move_dynamax {
	background: var(--maxmove) !important;
	color: #AAA;
	border: 2px var(--maxmove2) solid;
}

.move_dynamax .move_basics {
	background-image: var(--bgDynamax);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 45px;
}

.move_dynamax .move_gauge_uses {
	display: none;
}

.move_dynamax .move_user {
	background: var(--maxmove3) !important;
}

.move_dynamax .move_details_description {
	color: #AAA;
}

.move_dynamax .move_details,
.move_dynamax .move_description  {
	background-color: rgba(0,0,0,32%);
}

.move_dynamax .move_details div:nth-child(even) {
	background-color: rgba(0,0,0,32%);
}


#btn_dynamax {
	height: 40px;
}


.move,
.skill {
	transition-duration: 200ms;
}

.move:hover,
.skill:hover {
	transform: scale(0.99);
	cursor: pointer;
	transition-duration: 200ms;
}


/* --------------------------------
SKILLS
---------------------------------*/

#skills {
	margin: 2% 0;
	width: 100%;
	order: 2;
	font-size: 0.9em;
}

#skills>div+div {
	margin-top: 0%;
}

#skills>div+div:empty {
	margin-top: 0;
}

.skill {
	color: var(--text);
	padding: 4px;
	background-color: var(--skill);
	background-image: var(--bgPassive);
	background-size: cover;
	border: 2px rgba(0, 0, 0, 30%) solid;
	border-radius: 8px;
	margin: 4px;
	width: calc(100% - 8px);
	box-shadow: 0px 1px rgb(0 0 0 / 24%);
	display: flex;
	flex-direction: column;
	min-height: 36px;
}

.skill_name {
	letter-spacing: 1px;
	padding: 4px;
	color: var(--textWhite);
	text-align: center;
	text-shadow: var(--textOutline);
	margin: auto 0;
}

.skill_description {
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 5px;
	background-color: rgba(255,255,255,70%);
	border-radius: 2px;
}

.skill_passiveMaster {
	background-color: var(--passive_master);
	background-image: var(--bgPassiveMaster);
	background-size: cover;
}

.skill_passiveMaster .skill_name {
	background-image: var(--iconPassiveMaster);
	background-repeat: no-repeat;
	background-size: 24px;
}


#passiveSkills, #luckySkills, #themeSkills {
	display: flex !important;
	width: 90%;
	margin: auto;
}

#passiveSkills {
	flex-direction: column;
	margin: auto;
}

#passiveMaster, #passives, #passives2 {
	display: flex;
	flex-wrap: wrap;
}

#luckySkills {
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skill_lucky {
	background-image: var(--bgLucky);
	background-size: cover;
}


#themeSkills {
	flex-direction: initial;
	justify-content: start;
	flex-wrap: wrap;
}

.skill_theme {
	font-size: 0.9em;
	width: calc(100% * (1/3) - 8px);
	padding: 6px;
	border-radius: 50px;
	background: linear-gradient(var(--theme), var(--theme2));
	border: 2px rgba(0, 0, 0, 33%) solid;
	box-shadow: 1px 2px rgb(0 0 0 / 24%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin-top: 2.2%;
}

#themeSkills .no_move {
	margin-top: 2.2%;
	border-radius: 50px;
}

.skill_theme_icon {
	position: absolute;
	top: -15px;
	left: -2px;
	height: 30px;
}

.skill_theme .skill_name {
	font-size: 1.2em;
	padding: 2px;
	margin: auto;
	white-space: nowrap;
	z-index: 2;
}

.skill_theme .skill_description {
	display: none;
}

.skill_theme .skill_description+.skill_description {
	margin-top: 8px;
}


#main[class="hide"] + #grid + #screenshot {
	width: 812px;
}


#grid {
	width: 812px;
	height: 1400px;
}

#gridInfos {
	width: 700px !important;
	margin-left: 56px !important;
}

#cells {
	transform: scale(106%);
	transform-origin: left top;
	margin-top: -18%;
}

#cells .cellName { display: block; }

.cell[data-cellid]:hover:before {
	display: none;
}
.cell[data-cellid]:hover:after {
	padding: 1px !important;
	border-radius: 5px !important;
}

#selectedCells > div {
	margin: 3px auto !important;
	padding: 5px 10px !important;
}

#selectedCells .cellName {
	padding: 4px 4px !important;
}

#selectedCells .cellName,
#selectedCells .cellDescription,
#selectedCells .cellEnergy,
#selectedCells .cellLevel {
	font-size: 1em !important;
}

#btn_sliderMode,
#btn_verticalMode {
	pointer-events: auto;
	filter: none;
}


@media only screen and (max-width: 1024px) {
	#btn_sliderMode,
	#btn_verticalMode {
		pointer-events: none;
		filter: brightness(40%);
	}
}
