#moves,
#moves2,
#moveTera,
#movesMAX {
	flex-wrap: wrap;
	overflow: auto;
	justify-content: start;
}

#moves .move,
#moves2 .move,
#moveTera .move,
#movesMAX .move {
	flex: 1 1 calc((100% / 4) - 8px);
	width: 100%;
}

.move_user {
	width: 45px;
	height: 45px;
}

.b_move {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.b_move img:nth-child(2) {
	height: 100%;
	filter: opacity(95%);
	float: none;
}

#moves .move_details_description,
#moves2 .move_details_description,
#movesMAX .move_details_description {
	flex-wrap: wrap;
}

.move_details_description > * {
	margin: auto;
}

#moveTera .move_details, #moveTera .move_description {
	margin: 0;
}

#movesSync .move_details,
#moves2Sync .move_details {
	margin: 0;
}