#passiveMaster,
#passivesArcSuit,
#passives,
#passives2,
#luckySkills,
#themeSkills {
	flex-wrap: wrap;
	overflow: auto;
	justify-content: start;
}

#passiveMaster .skill,
#passivesArcSuit .skill,
#passivesSuperawakening .skill,
#passives .skill,
#passives2 .skill,
#luckySkills .skill {
	flex: 1 1 calc((100% / 3) - 8px);
	width: 100%;
}
